$primary-text-color: #212121;
  $secondare-text-color: #757575;
  $text-color: #ffffff;
  $accent-color: #2196f3;
  $background-color: #ffffff;
  $background-color-secondare: #f5f4fa;
  $background-hero-color: #2f303a;
  $color-icon: #afb1b8;
  $border-portfolio: #eeeeee;
  $modal-button: #188ce8;
  $logo-font-family: "Raleway";
  $sec-font-family: "Roboto";
  $bold-font-weight: 700;
  $min-bold-font-weight: 500;
  $max-bold-font-weight: 900;