.hero {
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;

  color: $text-color;
  background-color: $background-hero-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
}

.hero-tittle {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: $max-bold-font-weight;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  margin-top: 30px;
  border-radius: 4px;
  padding: 10px 32px;

  text-align: center;
  cursor: pointer;

  color: $text-color;
  background-color: $accent-color;
  font-weight: $bold-font-weight;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
}
.tex-subscribe {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: $bold-font-weight;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $text-color;
}
.input-subscribe {
  padding-top: 15px;
  padding-right: 158px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-right: 12px;

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $background-hero-color;
}
.buttom-subscribe {
  padding: 10px 62px 10px 29px;

  background: $accent-color;
  border: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.send-subscribe {
  margin-right: 10px;

  font-weight: $bold-font-weight;
  font-size: 16px;
  line-height: 1.9;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: $text-color;
}
.icon-telegram {
  width: 24px;
  height: 24px;
}
.icon-telegram {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
}
.buttom-subscribe {
  position: relative;
}
.subscribe {
  margin-left: auto;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: $text-color;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: $background-color;
}
.modal-button {
  &:hover, :focus{
    color: $accent-color;
  }
}

.modal {
  padding: 40px 40px 40px 40px;
}
.text-modal {
  font-weight: $bold-font-weight;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: $primary-text-color;
  margin-top: 0;
  margin-bottom: 12px;
}
.name-modal {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: $secondare-text-color;
  margin-bottom: 4px;
}

.form-input {
  width: 448px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-input {
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.form-input {
  &:focus {
    outline: none;
  border-color: $accent-color;
  cursor: pointer;
  }
}
.textarea {
  &:focus {
    outline: none;
  border-color: $accent-color;
  cursor: pointer;
  }
}

.form-input {
  &:focus + .input-image {
    fill: $accent-color;
    border-color: $accent-color;
  }
}

.cont {
  margin-bottom: 10px;
}
.input-image {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateY(-50%);
  left: 12px;
  width: 13px;
  height: 13px;
}
.form-label.use {
  position: relative;
  margin-bottom: 30px;
}
.form-label .cont {
  position: relative;
}
.button-send {
  display: block;
  padding: 10px 55px 10px 56px;
  background: $modal-button;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: $modal-button;
}
.send {
  font-weight: $bold-font-weight;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;

  letter-spacing: 0.06em;

  color: $text-color;
}
.buttom {
  padding-left: 125px;
  padding-right: 124px;
}

.placeholder {
  padding-left: 30px;
}
.textarea {
  resize: none;
  margin-bottom: 20px;
  padding: 10px 16px 10px 16px;
  height: 96px;

  display: block;
  font-family: inherit;

  width: 448px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.chekbox {
  display: block;
  margin-bottom: 30px;
}
.chek-mark {
  font-size: 14px;
  line-height: 1/71;
  letter-spacing: 0.03em;

  color: $secondare-text-color;
}
.vector {
  &::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    fill: none;
  
    background-color: $text-color;
  
    transition-property: background-color, border-color;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.vector {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: none;
}
.form-checkbox {
  &:checked + .vector {
    fill: $text-color;
    background-color: $accent-color;
    border: $accent-color;
  }
}
.form-checkbox {
  &:focus + .vector {
    fill: $text-color;
    background-color: $accent-color;
    border: $accent-color;
  }
}
.icon-vector {
  width: 11px;
  height: 8px;
}
.agreement {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  text-decoration: underline;
  color: $accent-color;
}